.hidden{
    display: none;
}

/* span{
    display: inline-block;
} */

#header{
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#divMark{
    margin-top:20px;
    font-size:18px;
}

#greeting{
    display: flex;
    justify-content: center;
    align-items: center;
}

#inputName 
#inputText{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
}

#inputName{
    margin-right: 10px;
}
.topmenu{
    padding: 10px;
    position: relative;
    top: 10px;
    right: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.topmenu *{
    margin: 5px;
}

#input1{
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 3px solid gray;
}